body {
    background-color: white;
    color: green;
}

.svg-container {
    background: green;
}

.dots {
    padding: 2px;
}

.axis {
    stroke: white;
    font-size: 14px;
}

.divv {
    color: red;
}