body {
    background-color: white;
    color: green;
}

.svg-container {
    background: green;
}

.dots {
    padding: 2px;
}

.axis {
    stroke: white;
    font-size: 14px;
}

.divv {
    color: red;
}

.axis path {
    fill: none;
    stroke: white;
    stroke-width: 2.4px;
}

.axis line {
    fill: none;
    stroke: white;
    stroke-width: 1.4px;
}

#header {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    background: white;
    margin-top: 16px;
    width: 500px;
    text-align: center;
}

#image {
    width: 50px;
    height: 36px;
    margin-left: 5px;
    margin-top: 15px;
}

#h {
    display: flex;
    margin-left: 10px;
}

.foot {
    color: green;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin-left: 0px;
    margin-top: 0px;
    background: white;
    width: 900px;
    text-align: center;
}

.button-all, .button-t {
    width: 65px;
    background: white;
    border-radius: 5px;
    color: green;
    height: 50px;
    border: none;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}

.button-t {
    width: 100px;
    height: 30px;
}

.button-all:hover {
    background: darkgreen;
}

.page {
    display: flex;
}

.page2 {
    display: flex;
    flex-direction: column;
}

#button-header {
    margin-left: 3px;
    ;
    font-size: 12px;
    margin-top: 18px;
    font-family: 'Courier New', Courier, monospace;
}

#subHeader {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0px;
    margin-top: 16px;
    background: white;
    height: 21px;
    padding: 8px;
    width: 320px;
    text-align: center;
}

.dropbtn {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    padding: 14px;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0.1, 0.2);
    border: none;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    height: 200px;
    overflow: scroll;
    ;
}

.dropdown-content button {
    color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.button-t {
    color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: rgba(0, 128, 0, .4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0, 128, 0, .4);
}

.DD {
    margin-left: 800px;
    top: 0;
}

#image2 {
    width: 40px;
    float: right;
}

body {
    background-image: url("/src/styles/bandw.png");
}

.d {
    width: 1px;
    height: 1px;
    background: blue;
    padding: 5px;
    margin-left: 2px;
    border-radius: 2px; 
     border: 1px solid gray; border: 1px solid gray; 
}

.d2 {
    width: 1px;
    height: 1px;
    background: white;
    padding: 5px;
    margin-left: 2px;
    border-radius: 2px;
    border: 1px solid gray; 
}

.d3 {
    width: 1px;
    height: 1px;
    background: red;
    padding: 5px;
    margin-left: 2px;
    border-radius: 2px;
     border: 1px solid gray; 
}

.d4 {
    width: 1px;
    height: 1px;
    background: gray;
    padding: 5px;
    margin-left: 2px;
    border-radius: 2px;
     border: 1px solid gray; 
}

.d5 {
    width: 1px;
    height: 1px;
    background: purple;
    padding: 5px;
    margin-left: 2px;
    border-radius: 2px;
     border: 1px solid gray; 
}


.t {
    font-size: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    text-align: center;
}

#key {
    display: flex;
}

.sp {
    position: absolute;
    bottom: 33px; 
    left: 360px;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 200px;
}